* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*CSS RESET*/

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding-left: 5rem;
	padding: 1rem;
	list-style-type: none;
	position: sticky;
	top: 0px;
	background-color: white;
}


nav .nav-logo, nav .right-nav, nav .nav {
	display: inline;
	margin: 0.5rem;
}

.right-nav {
	float: right;
}

.nav {
	font-weight: bold;
	padding-right: 0.5rem;
}

.tuitt-button {
	border: none;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 0.5rem;
	letter-spacing: 1px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	height: 500px;
	background-position: center;
	background-color: gray;
	background-blend-mode: multiply;
	z-index: 1;


}

.front-bg{
	float: right;
	padding-right: 12rem;
}

.container {
	float: right;
	width: 50%;
}
.title {
	color: white;
	float: right;
	display: inline-block;
	font-size: 3.5rem;
	z-index: 2;
	width: 75%;
	padding-bottom: 2rem;
	text-align: right;
	font-family: 'Zilla Slab';

}

.subtitle {
	color: white;
	float: right;
	display: inline;
	font-size: 1rem;
	padding-bottom: 2rem;
	padding-left: 20rem;
	justify-self: right;
	text-align: right;
	font-weight: lighter;
	right: 0px;
}

.apply-button {
	border: none;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 0.5rem;
	letter-spacing: 1px;
	float: right;
	width: 20%;
	
}

.intro {
	text-align: center;
	padding-bottom: 10rem;
	padding-left: 30.5rem;
	padding-right: 30.5rem;
}




.pre-footer {
	text-align: center;
	padding-bottom: 10rem;
	padding-left: 35rem;
	padding-right: 35rem;
	background-color: ghostwhite;
}

.title-2 {
	font-family: 'Zilla Slab';
	font-weight: bold;
	padding: 5rem;
	font-size: 2rem;
}



.prefooter-description{
	text-align: center!important;
	display: block;
	line-height: 1.5;
	padding-bottom: 1rem;
}


.book-button {
	border: none;
	color: white;
	font-weight: 600;
	font-size: 1.33rem;
	background-color: #336589;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 0.5rem;
	letter-spacing: 1px;
	width: 180px;
	border: 0;
}

footer {
	text-align: center;
	}